{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}


<h2>Start New Run</h2>

<p>All runs are saved automatically. You can <a href="/run/">review all of them</a>.</p>

{% if ran %}
<script type="text/javascript" src="{{STATIC_URL}}js/d3.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/graph.js"></script>

<p>
Ran simulation with <b>{{number_agents}}</b> agents for <b>{{ticks}}</b> ticks in<b>{{time}}</b> seconds.
</p>

<p>
Resulting agents mass mean: <b>{{mean}}</b>, stddev: <b>{{stddev}}</b>
</p>

<div class="placeholder" />

<script type="text/javascript">
var runData = [];
var runStdDevs = [];
{% for d in stats %}
runData.push({{d.mean}});runStdDevs.push({{d.std}});
{% endfor %}
makeGraph("div.placeholder", runData, runStdDevs);
</script>

{% endif %}


<form action="." method="post" class="form-horizontal" role="form">
  {{ form.non_field_errors }}
  <div class="form-group">
		{{ form.number_agents.errors }}
    <label for="inputAgents" class="col-sm-2 control-label">How many agents?</label>
    <div class="col-sm-3">
			{{ form.number_agents }}
    </div>
  </div>
  
  <div class="form-group">
		{{ form.ticks.errors }}
    <label for="inputTicks" class="col-sm-2 control-label">How many ticks?</label>
    <div class="col-sm-3">
      {{ form.ticks }}
    </div>
  </div>

  <div class="form-group">
		{{ form.gamma_1.errors }}
    <label for="inputGamma1" class="col-sm-2 control-label">Gamma 1</label>
    <div class="col-sm-3">
      {{ form.gamma_1 }}
    </div>
  </div>
  <div class="form-group">
		{{ form.gamma_2.errors }}
    <label for="inputGamma2" class="col-sm-2 control-label">Gamma 2</label>
    <div class="col-sm-3">
      {{ form.gamma_2 }}
    </div>
  </div>
  <div class="form-group">
		{{ form.gamma_3.errors }}
    <label for="inputGamma3" class="col-sm-2 control-label">Gamma 3</label>
    <div class="col-sm-3">
      {{ form.gamma_3 }}
    </div>
  </div>
  <div class="form-group">
		{{ form.gamma_4.errors }}
    <label for="inputGamma4" class="col-sm-2 control-label">Gamma 4</label>
    <div class="col-sm-3">
      {{ form.gamma_4 }}
    </div>
  </div>
  <div class="form-group">
		{{ form.gamma_5.errors }}
    <label for="inputGamma5" class="col-sm-2 control-label">Gamma 5</label>
    <div class="col-sm-3">
      {{ form.gamma_5 }}
    </div>
  </div>
  <div class="form-group">
		{{ form.gamma_6.errors }}
    <label for="inputGamma6" class="col-sm-2 control-label">Gamma 6</label>
    <div class="col-sm-3">
      {{ form.gamma_6 }}
    </div>
  </div>

  <div class="form-group">
		{{ form.sigma_1.errors }}
    <label for="inputSigma1" class="col-sm-2 control-label">Sigma 1</label>
    <div class="col-sm-3">
      {{ form.sigma_1 }}
    </div>
  </div>
  <div class="form-group">
		{{ form.sigma_2.errors }}
    <label for="inputSigma2" class="col-sm-2 control-label">Sigma 2</label>
    <div class="col-sm-3">
      {{ form.sigma_2 }}
    </div>
  </div>

  <div class="form-group">
		{{ form.agent_initial_mass_mean.errors }}
    <label for="inputAgentInitialMassMean" class="col-sm-2
    control-label">Agent Initial Mass Mean</label>
    <div class="col-sm-3">
      {{ form.agent_initial_mass_mean }}
    </div>
  </div>
  <div class="form-group">
		{{ form.agent_initial_mass_sigma.errors }}
    <label for="inputAgentInitialMassSigma" class="col-sm-2
    control-label">Agent Initial Mass Sigma</label>
    <div class="col-sm-3">
      {{ form.agent_initial_mass_sigma }}
    </div>
  </div>

  <div class="form-group">
		{{ form.agent_base_output_mean.errors }}
    <label for="inputAgentInitialMassMean" class="col-sm-2
    control-label">Agent Base Output Mean</label>
    <div class="col-sm-3">
      {{ form.agent_base_output_mean }}
    </div>
  </div>
  <div class="form-group">
		{{ form.agent_base_output_sigma.errors }}
    <label for="inputAgentInitialMassSigma" class="col-sm-2
    control-label">Agent Base Output Sigma</label>
    <div class="col-sm-3">
      {{ form.agent_base_output_sigma }}
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
      <button type="submit" class="btn btn-default">Run it!</button>
    </div>
  </div>
  
</form>

{% endblock %}
