{% extends 'base.html' %}
{% block pagetitle %}capsim{% endblock %}

{% block content %}

{% if ran %}
<script type="text/javascript" src="{{STATIC_URL}}js/d3.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/graph.js"></script>

<p>Ran simulation with <b>{{number_agents}}</b> agents for <b>{{ticks}}</b> ticks in
	<b>{{time}}</b> seconds.</p>
<p>Resulting agents mass mean: <b>{{mean}}</b>, stddev: <b>{{stddev}}</b></p>
<div class="placeholder"/>

<script type="text/javascript">
var runData = [];
var runStdDevs = [];
{% for d in stats %}
runData.push({{d.mean}});runStdDevs.push({{d.std}});
{% endfor %}

makeGraph("div.placeholder", runData, runStdDevs);
</script>



{% endif %}


<form action="." method="post">
number of agents: <input type="text" value="{{number_agents}}" name="number_agents"
												 /><br />
number of ticks: <input type="text" value="{{ticks}}" name="ticks"
												 /><br />

<input type="submit" value="run it!" />
</form>
{% endblock %}
