{% extends 'base.html' %}
{% load waffle_tags %}

{% load bootstrap %}

		{% block topnav %}
		<li><a href="/about/" title="Learn all about PHCX and the math behind it.">About</a></li>
		<li><a href="/contact/" title="Get in touch.">Contact</a></li>
		<li><a href="/topics/" title="These are all of the simulations available.">Topics</a></li>
		{% endblock %}

{% block content %}


<h1>Obesity</h1>

<!--start 4 part topic subnav-->
<ul class="nav nav-tabs nav-justified">
<li><a href="/topic-obesity/">Introduction</a></li>
<li><a href="/pages/introduction/" title="Ramp up your understanding with this handy tutorial.">Exercises</a></li>
<li class="active"><a href="/run/new/" title="Create a new run.">Simulation</a></li>
<li><a href="/topic-obesity-debrief/">Debrief</a></li>
</ul>
<!--stop 4 part topic subnav-->


{% flag simulation %}


<h2>Simulation</h2>
<h3>Your Role</h3>

<p>
Your group represents the NY State Health Department, Bureau of Health
Behavior & Prevention. Your group applied for and has just been awarded a
$5 million grant which you must allocate across a variety of intervention
options you'll see below. Each intervention option has three levels of
emphasis, High, Medium and Low, and those levels represent the amount of
funding you're providing each. Which interventions should you invest
heavily in, and which lightly? With limited resources you'll have to
prioritize which interventions will likely be the best investments for
accomplishing your goal.  The funding allocation is connected directly to
what percentage of the population you'll be affecting directly. For
example, your budget allocation affects how many businesses you will reach
by building a "healthy eating at work" initiative, or how much of the
physical and built environment you will directly impact if you decide to
invest there.</p>

<p>Please use the simulation to test your intervention strategies and attempt
to gain some incite into where the best leverage points might be for having
the greatest impact on this population, measured by positive changes in
their body mass. Each time you run the simulation you'll be taken to a page
that lets you title, describe and save your runs. As you accumulate these
runs, certain patterns should emerge that will provide a sense of where
your dollars are best spent. Once having a good sense of where those
effective interventions (and their synergies!) are, you will complete a
short proposal that describes in detail specific aspects of your
interventions as described in the instructions on the "Proposal" page
above. The interventions in the simulation are best thought of as
"categories" of intervention, and you will be responsible for designing the
actual means of executing those interventions with specific details in the
proposal you will write.</p>

<p>Your proposal should include the results of your simulation runs and an
explanation for the synergies you have discovered. Additionally, studies
have been attached to each intervention that describe with some real data
certain effects that these interventions have had in past trials and
studies, and those should also join your rationale for proposing the
interventions you have decided on.</p>

<p>Work together as a group to design your intervention tests to run through
the simulation. Think back to the systems mapping you have done in
preparation, and be mindful of what variables these intervention options
will likely influence (and in what ways) to help you achieve your desired
effects on the system.</p>


{% if request.user.is_staff %}
<div class="well">
<form action="/run/toggle/" method="post">
<input type="submit" class="btn btn-warning" value="Disable Simulation (Staff Only)" />
</form>
</div>
{% endif %}

{% comment %}

For now, we'll just make the old form invisible. This form is still
the one that gets submitted, so it can't just be taken out. The
interventions just modify the parameters here in-place.

Eventually, the intervention -> parameter mapping will happen on the
backend and we can just submit the interventions directly and take
this out. But not quite yet...

{% endcomment %}
<div class="hidden">

<h3>Create Run (Old Form)</h3>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac est facilisis, blandit risus at, accumsan mi. Ut eget gravida massa, sed convallis neque. Mauris turpis elit, congue eget venenatis a, sodales eget magna. Proin ornare congue laoreet. Cras enim ligula, tempus eget urna cursus, ultricies posuere magna. Praesent ante mi, congue vitae ultrices a, mattis vitae nunc. Maecenas id tellus sit amet orci fringilla dictum sit amet ac mauris. Proin sed eleifend ante, vitae sodales elit. Aliquam sit amet est aliquam, congue turpis a, porttitor ligula. Phasellus quis odio blandit, sollicitudin est a, consequat purus. Cras metus nisl, ullamcorper vitae ipsum a, sagittis porta odio. Etiam dapibus felis nulla, non malesuada arcu facilisis eget. Suspendisse lacus turpis, malesuada nec porta ac, convallis ultricies orci. Sed nulla orci, hendrerit eget elit id, gravida volutpat nunc. Proin vel neque auctor diam eleifend varius. Nulla facilisi.</p>

<!--<p>All runs are saved automatically. You can <a href="/run/">review all of them</a>.</p>-->

{% if ran %}
<script type="text/javascript" src="{{STATIC_URL}}js/d3.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/graph.js"></script>

<p>
Ran simulation with <b>{{number_agents}}</b> agents for <b>{{ticks}}</b> ticks in<b>{{time}}</b> seconds.
</p>

<p>
Resulting agents mass mean: <b>{{mean}}</b>, stddev: <b>{{stddev}}</b>
</p>

<div class="placeholder" />

<script type="text/javascript">
var runData = [];
var runStdDevs = [];
{% for d in stats %}
runData.push({{d.mean}});runStdDevs.push({{d.std}});
{% endfor %}
makeGraph("div.placeholder", runData, runStdDevs);
</script>

{% endif %}

<form action="." method="post" class="form-horizontal" role="form" id="test-new-run-form">

{{ form.non_field_errors }}

<div class="well">
	<div class="row">
	
<div class="col-md-4">

  <div class="form-group">
		{{ form.number_agents.errors }}
    <label for="inputAgents" class="col-sm-8 ">How many agents?</label>
    <div class="col-sm-2">
			{{ form.number_agents }}
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="form-group">
		{{ form.ticks.errors }}
    <label for="inputTicks" class="col-sm-8 ">How many ticks?</label>
    <div class="col-sm-2">
      {{ form.ticks }}
    </div>
  </div>

</div>
<div class="col-md-4">

</div>
</div>
</div>
<div class="well">
<div class="row">
<div class="col-md-4">
  <div class="form-group">
		{{ form.gamma_1.errors }}
    <label for="inputGamma1" class="col-sm-4 ">Gamma 1</label>
    <div class="col-sm-2">
      {{ form.gamma_1 }}
    </div>
  </div>
  
  
  <div class="form-group">
		{{ form.gamma_2.errors }}
    <label for="inputGamma2" class="col-sm-4 ">Gamma 2</label>
    <div class="col-sm-4">
      {{ form.gamma_2 }}
    </div>
  </div>
  
  
  <div class="form-group">
		{{ form.gamma_3.errors }}
    <label for="inputGamma3" class="col-sm-4 ">Gamma 3</label>
    <div class="col-sm-4">
      {{ form.gamma_3 }}
    </div>
  </div>
  
  
  <div class="form-group">
		{{ form.gamma_4.errors }}
    <label for="inputGamma4" class="col-sm-4 ">Gamma 4</label>
    <div class="col-sm-4">
      {{ form.gamma_4 }}
    </div>
  </div>
  
  
  <div class="form-group">
		{{ form.gamma_5.errors }}
    <label for="inputGamma5" class="col-sm-4 ">Gamma 5</label>
    <div class="col-sm-4">
      {{ form.gamma_5 }}
    </div>
  </div>
  
  <div class="form-group">
		{{ form.gamma_6.errors }}
    <label for="inputGamma6" class="col-sm-4 ">Gamma 6</label>
    <div class="col-sm-4">
      {{ form.gamma_6 }}
    </div>
  </div>

</div>
<div class="col-md-5">
  <div class="form-group">
		{{ form.agent_initial_mass_mean.errors }}
    <label for="inputAgentInitialMassMean" class="col-sm-8
    ">Agent Initial Mass Mean</label>
    <div class="col-sm-4">
      {{ form.agent_initial_mass_mean }}
    </div>
  </div>
  
  
  <div class="form-group">
		{{ form.agent_initial_mass_sigma.errors }}
    <label for="inputAgentInitialMassSigma" class="col-sm-8
    ">Agent Initial Mass Sigma</label>
    <div class="col-sm-4">
      {{ form.agent_initial_mass_sigma }}
    </div>
  </div>

  <div class="form-group">
		{{ form.agent_base_output_mean.errors }}
    <label for="inputAgentBaseOutputMean" class="col-sm-8
    ">Agent Base Output Mean</label>
    <div class="col-sm-4">
      {{ form.agent_base_output_mean }}
    </div>
  </div>
  
  
  <div class="form-group">
		{{ form.agent_base_output_sigma.errors }}
    <label for="inputAgentBaseOuputSigma" class="col-sm-8
    ">Agent Base Output Sigma</label>
    <div class="col-sm-4">
      {{ form.agent_base_output_sigma }}
    </div>
  </div>

</div>
<div class="col-md-4">
  <div class="form-group">
		{{ form.sigma_1.errors }}
    <label for="inputSigma1" class="col-sm-4 ">Sigma 1</label>
    <div class="col-sm-4">
      {{ form.sigma_1 }}
    </div>
  </div>
  
  
  <div class="form-group">
		{{ form.sigma_2.errors }}
    <label for="inputSigma2" class="col-sm-4 ">Sigma 2</label>
    <div class="col-sm-4">
      {{ form.sigma_2 }}
    </div>
  </div>

</div>
</div>
</div>

<div class="well">
<div class="row">
<div class="col-md-4">

  <div class="form-group">
		{{ form.recreation_activity_alpha.errors }}
    <label for="inputRecreationActivityAlpha" class="col-sm-8
    ">Recreation Activity Alpha</label>
    <div class="col-sm-2">
      {{ form.recreation_activity_alpha }}
    </div>
  </div>
  <div class="form-group">
		{{ form.recreation_activity_lambda.errors }}
    <label for="inputRecreationActivityLambda" class="col-sm-8
    ">Recreation Activity Lambda</label>
    <div class="col-sm-2">
      {{ form.recreation_activity_lambda }}
    </div>
  </div>


  <div class="form-group">
		{{ form.education_activity_alpha.errors }}
    <label for="inputEducationActivityAlpha" class="col-sm-8
    ">Education Activity Alpha</label>
    <div class="col-sm-2">
      {{ form.education_activity_alpha }}
    </div>
  </div>

  <div class="form-group">
		{{ form.education_activity_lambda.errors }}
    <label for="inputEducationActivityLambda" class="col-sm-8
    ">Education Activity Lambda</label>
    <div class="col-sm-2">
      {{ form.education_activity_lambda }}
    </div>
  </div>

  <div class="form-group">
		{{ form.food_convenience_alpha.errors }}
    <label for="inputFoodConvenienceAlpha" class="col-sm-8
    ">Food Convenience Alpha</label>
    <div class="col-sm-2">
      {{ form.food_convenience_alpha }}
    </div>
  </div>
  
  
  <div class="form-group">
		{{ form.food_convenience_lambda.errors }}
    <label for="inputFoodConvenienceLambda" class="col-sm-8
    ">Food Convenience Lambda</label>
    <div class="col-sm-2">
      {{ form.food_convenience_lambda }}
    </div>
  </div>


</div>
<div class="col-md-4">
  <div class="form-group">
		{{ form.domestic_activity_alpha.errors }}
    <label for="inputDomesticActivityAlpha" class="col-sm-8
    ">Domestic Activity Alpha</label>
    <div class="col-sm-2">
      {{ form.domestic_activity_alpha }}
    </div>
  </div>
  
  
  <div class="form-group">
		{{ form.domestic_activity_lambda.errors }}
    <label for="inputDomesticActivityLambda" class="col-sm-8
    ">Domestic Activity Lambda</label>
    <div class="col-sm-2">
      {{ form.domestic_activity_lambda }}
    </div>
  </div>

  <div class="form-group">
		{{ form.energy_density_alpha.errors }}
    <label for="inputEnergyDensityAlpha" class="col-sm-8
    ">Energy Density Alpha</label>
    <div class="col-sm-2">
      {{ form.energy_density_alpha }}
    </div>
  </div>
  <div class="form-group">
		{{ form.energy_density_lambda.errors }}
    <label for="inputEnergyDensityLambda" class="col-sm-8
    ">Energy Density Lambda</label>
    <div class="col-sm-2">
      {{ form.energy_density_lambda }}
    </div>
  </div>

 <div class="form-group">
		{{ form.food_literacy_alpha.errors }}
    <label for="inputFoodLiteracyAlpha" class="col-sm-8
    ">Food Literacy Alpha</label>
    <div class="col-sm-2">
      {{ form.food_literacy_alpha }}
    </div>
  </div>
  
  
  <div class="form-group">
		{{ form.food_literacy_lambda.errors }}
    <label for="inputFoodLiteracyLambda" class="col-sm-8
    ">Food Literacy Lambda</label>
    <div class="col-sm-2">
      {{ form.food_literacy_lambda }}
    </div>
  </div>



</div>
<div class="col-md-4">

 <div class="form-group">
		{{ form.transport_activity_alpha.errors }}
    <label for="inputTransportActivityAlpha" class="col-sm-8
    ">Transport Activity Alpha</label>
    <div class="col-sm-2">
      {{ form.transport_activity_alpha }}
    </div>
  </div>
  
  
  <div class="form-group">
		{{ form.transport_activity_lambda.errors }}
    <label for="inputTransportActivityLambda" class="col-sm-8
    ">Transport Activity Lambda</label>
    <div class="col-sm-2">
      {{ form.transport_activity_lambda }}
    </div>
  </div>


  <div class="form-group">
		{{ form.food_exposure_alpha.errors }}
    <label for="inputFoodExposureAlpha" class="col-sm-8
    ">Food Exposure Alpha</label>
    <div class="col-sm-2">
      {{ form.food_exposure_alpha }}
    </div>
  </div>
  
  
  <div class="form-group">
		{{ form.food_exposure_lambda.errors }}
    <label for="inputFoodExposureLambda" class="col-sm-8
    ">Food Exposure Lambda</label>
    <div class="col-sm-2">
      {{ form.food_exposure_lambda }}
    </div>
  </div>

  <div class="form-group">
		{{ form.food_advertising_alpha.errors }}
    <label for="inputFoodAdvertisingAlpha" class="col-sm-8
    ">Food Advertising Alpha</label>
    <div class="col-sm-2">
      {{ form.food_advertising_alpha }}
    </div>
  </div>
  
  
  <div class="form-group">
		{{ form.food_advertising_lambda.errors }}
    <label for="inputFoodAdvertisingLambda" class="col-sm-8
    ">Food Advertising Lambda</label>
    <div class="col-sm-2">
      {{ form.food_advertising_lambda }}
    </div>
  </div>



</div>
</div>
</div>

<div class="well">
	<div class="row">
		<div class="col-md-5">

			<div class="form-group">
				{{ form.recreation_activity_weight.errors }}
				<label for="inputRecreationActivityWeight"
							 class="col-sm-8">Recreation Activity Weight</label>
				<div class="col-sm-2">
					{{ form.recreation_activity_weight }}
				</div>
			</div>

			<div class="form-group">
				{{ form.domestic_activity_weight.errors }}
				<label for="inputDomesticActivityWeight"
							 class="col-sm-8">Domestic Activity Weight</label>
				<div class="col-sm-2">
					{{ form.domestic_activity_weight }}
				</div>
			</div>

			<div class="form-group">
				{{ form.transport_activity_weight.errors }}
				<label for="inputTransportActivityWeight"
							 class="col-sm-8">Transport Activity Weight</label>
				<div class="col-sm-2">
					{{ form.transport_activity_weight }}
				</div>
			</div>

			<div class="form-group">
				{{ form.education_activity_weight.errors }}
				<label for="inputEducationActivityWeight"
							 class="col-sm-8">Education Activity Weight</label>
				<div class="col-sm-2">
					{{ form.education_activity_weight }}
				</div>
			</div>

		</div>

		<div class="col-md-5">

			<div class="form-group">
				{{ form.energy_density_weight.errors }}
				<label for="inputEnergyDensityWeight"
							 class="col-sm-8">Energy Density Weight</label>
				<div class="col-sm-2">
					{{ form.energy_density_weight }}
				</div>
			</div>

			<div class="form-group">
				{{ form.food_advertising_weight.errors }}
				<label for="inputFoodAdvertisingWeight"
							 class="col-sm-8">Food Advertising Weight</label>
				<div class="col-sm-2">
					{{ form.food_advertising_weight }}
				</div>
			</div>

			<div class="form-group">
				{{ form.food_exposure_weight.errors }}
				<label for="inputFoodExposureWeight"
							 class="col-sm-8">Food Exposure Weight</label>
				<div class="col-sm-2">
					{{ form.food_exposure_weight }}
				</div>
			</div>

			<div class="form-group">
				{{ form.food_convenience_weight.errors }}
				<label for="inputFoodConvenienceWeight"
							 class="col-sm-8">Food Convenience Weight</label>
				<div class="col-sm-2">
					{{ form.food_convenience_weight }}
				</div>
			</div>

			<div class="form-group">
				{{ form.food_literacy_weight.errors }}
				<label for="inputFoodLiteracyWeight"
							 class="col-sm-8">Food Literacy Weight</label>
				<div class="col-sm-2">
					{{ form.food_literacy_weight }}
				</div>
			</div>


		</div>
	</div>
</div>
</div>
<div class="form-group">
<div class="col-sm-12">
<button type="submit" class="btn pull-right" id="run-sim-button">Run it!</button>
</div>
</div>
  
<h3>Create Run (New Form)</h3>


<div class="container">


<div	data-spy="affix" data-offset-top="60"
		 data-offset-bottom="200" id="progress-bar-well">
<div class="row well" >
<legend> Budget <button type="button" class="moreinfo btn btn-default btn-xs pull-right" data-container="body" data-toggle="popover" data-placement="left" data-content="Budget info goes here."> <span class="glyphicon glyphicon-question-sign"></span> </button> </legend> 
		
<div class="progress" style="background-color: #666;" id="budget-progress-bar">
  <div class="progress-bar progress-bar-success"
			 role="progressbar"
			 aria-valuenow="100"
			 aria-valuemin="0"
			 aria-valuemax="100"
			 style="width: 100%">
    <span class="sr">$5,000,000</span>
  </div>		
</div>
</div>

  <div id="overbudget" class="alert alert-danger">
		You are over budget by $<span id="overbudget-amount"></span>
	</div>

  </div>
		
		<div class="row well">
		
			<legend> Physical Activity Context <button type="button" class="moreinfo btn btn-default btn-xs pull-right" data-container="body" data-toggle="popover" data-placement="left" data-content="Info about Physical Activity Context goes here."> <span class="glyphicon glyphicon-question-sign"></span> </button> </legend> 
			
			
				<div class="form-group">
					<label for="">
						Provide and Support Community Programs Designed to
						Increase Physical Activity
					</label> 
					<select class="form-control intervention-control" id="increase-physical-activity">
					  <option value="">Select Level</option>
					  <option value="high">High</option>
					  <option value="medium">Medium</option>
					  <option value="low">Low</option>
					</select>				

					<p>Potential actions include:  Developing and implementing physical activity strategies that fit into people’s daily routines – strategies that are most effective when tailored to specific interests and preferences.</p>
<p><small>Reference:  <a href="/media/pdf/CD008366.pdf">Baker PRA, Francis DP, Soares J, Weightman AL, Foster
						C. Community wide interventions for increasing physical
						activity. Cochrane Database of Systematic Reviews 2011,
						Issue 4. Art. No.: CD008366. DOI:
						10.1002/14651858.CD008366.pub2.</a></small>
						</p>

					</div>
				
				<div class="form-group">
					<label for="">Ensure Coverage of, Access to, and Incentives for Routine Obesity Prevention, Screening, Diagnosis, and Treatment</label> 
					<select class="form-control intervention-control" id="ensure-screening">
					  <option value="">Select Level</option>
					  <option value="high">High</option>
					  <option value="medium">Medium</option>
					  <option value="low">Low</option>
					</select>				
					<p>Potential actions include:  Health care providers’ standards of practice including routine screening of body mass index (BMI), counseling, and behavioral interventions for adults to improve physical activity behaviors and dietary choices.</p>
					<p><small>Reference:  <a href="http://capsim.ccnmtl.columbia.edu/media/pdf/CD000984.pdf">Flodgren G, Deane K, Dickinson HO, Kirk S, Alberti H, Beyer FR, Brown JG, Penney TL, Summerbell CD, Eccles MP. Interventions to change the behaviour of health professionals and the organisation of care to promote weight reduction in overweight and obese adults. Cochrane Database of Systematic Reviews 2010, Issue 3. Art. No.: CD000984. DOI: 10.1002/14651858.CD000984.pub2.</a></small></p>

					</div>
				
			
				<div class="form-group">
					<label for="">Encourage Active Living at Work</label> 
					<select class="form-control intervention-control" id="active-living-at-work">
					  <option value="">Select Level</option>
					  <option value="high">High</option>
					  <option value="medium">Medium</option>
					  <option value="low">Low</option>
					</select>
					<p>Potential actions include:  Increasing opportunities for
					physical activity as part of a wellness/health promotion
					program.</p>
					<p><small>Reference:  <a href="/media/pdf/CD009209.pdf">Freak-Poli RLA, Cumpston M, Peeters A, Clemes SA. Workplace pedometer interventions for increasing physical activity. Cochrane Database of Systematic Reviews 2013, Issue 4. Art. No.: CD009209. DOI: 10.1002/14651858.CD009209.pub2.</a> </small></p>
				</div>
				
			
				<div class="form-group">
					<label for="">Enhance the Physical and Built Environment</label> 
					<select class="form-control intervention-control" id="physical-environment">
					  <option value="">Select Level</option>
					  <option value="high">High</option>
					  <option value="medium">Medium</option>
					  <option value="low">Low</option>
					</select>				
					<p>Potential actions include:  Communities and organizations
					developing and maintaining sustainable strategies to create
					and/or enhance access to places and programs where people
					can be physically active in a safe and enjoyable way.</p>
					<p><small>Reference:  <a href="http://capsim.ccnmtl.columbia.edu/media/pdf/Am.%20J.%20Epidemiol.-2009-Li-401-8.pdf">Li F.  Harmer P.  Cardinal BJ.  Bosworth M.  Johnson-Shelton D.  Moore JM.  Acock A.  Vongjaturapat N.  Built environment and 1-year change in weight and waist circumference in middle-aged and older adults: Portland Neighborhood Environment and Health Study.  American Journal of Epidemiology.  169(4):401-8, 2009 Feb 15.</a></small></p>
				</div>

				<div class="form-group">
					<label for="">Social Influence (Gamma 6)</label> 
					<select class="form-control intervention-control" id="activity-social-influence">
					  <option value="">Select Level</option>
					  <option value="high">High</option>
					  <option value="medium">Medium</option>
					  <option value="low">Low</option>
					</select>				
				</div>
				
			
		</div>
		
		
		<div class="row well">
		
			<legend> Diet Behavior Context<button type="button" class="moreinfo btn btn-default btn-xs pull-right" data-container="body" data-toggle="popover" data-placement="left" data-content="Diet Behavior Context help info goes here."> <span class="glyphicon glyphicon-question-sign"></span> </button> </legend> 
			
			
				<div class="form-group">
					<label for="">Introduce, Modify, and Utilize Health-Promoting Food and Beverage Retailing and Distribution Policies</label> 
					<select class="form-control intervention-control" id="health-promoting-food">
					  <option value="">Select Level</option>
					  <option value="high">High</option>
					  <option value="medium">Medium</option>
					  <option value="low">Low</option>
					</select>				
					<p>Potential actions include:  State and localities creating cross-sectoral collaborations among the food and beverage industry, philanthropy, the finance and banking sector, the real estate sector, and the community to develop private funding to facilitate the development of healthy food retailing in underserved areas.</p>
					<p><small>Reference:  PHA’s full progress report including partner
					data is available online at: <a href="http://progressreports.ahealthieramerica.org">progressreports.ahealthieramerica.org</a></small></p>
					</div>
				
				<div class="form-group">
					<label for="">Encourage Healthy Eating at Work</label> 
					<select class="form-control intervention-control" id="healthy-eating-at-work">
					  <option value="">Select Level</option>
					  <option value="high">High</option>
					  <option value="medium">Medium</option>
					  <option value="low">Low</option>
					</select>				
					<p>Potential actions include:  Public and private employers promoting healthy eating in the worksite in their own institutional policies and practices by, for example, providing access to and promotion of healthful foods and beverages.</p>
					<p><small>References:  <a href="http://capsim.ccnmtl.columbia.edu/media/pdf/Worksite2010AHRFSystematic_Soler.pdf">Soler RE, Leeks KD, Razi S, Hopkins DP, Griffith M, Aten A, Chattopadhyay SK, Smith SC, Habarta N, Goetzel RZ, Pronk NP, Richling DE, Bauer DR, Buchanan LR, Florence CS, Koonin L, MacLean D, Rosenthal A, Matson Koffman D, Grizzell JV, Walker AM: A systematic review of selected interventions for worksite health promotion: the assessment of health risks with feedback. Am J Prev Med 2010, 38:S237-S262.</a></small></p>
					</div>
				
		
			
				<div class="form-group">
					<label for="">Utilize Strong Nutritional Standards for all Foods and Beverages Sold or Provided Through the Government, and Ensure That These Healthy Options Are Available in All Places Frequented by the Public</label> 
					<select class="form-control intervention-control" id="national-health-standards">
					  <option value="">Select Level</option>
					  <option value="high">High</option>
					  <option value="medium">Medium</option>
					  <option value="low">Low</option>
					</select>				

					<p>Potential actions include:  Making clean, potable water readily available in public places, worksites, and recreation areas.
					</p>
					<p><small>Reference:  <a href="http://capsim.ccnmtl.columbia.edu/media/pdf/0.pdf">Te Morenga L, Mallard S, Mann J. Dietary sugars and body weight:  systematic review and meta-analyses of randomized controlled trials and cohort studies.  BMJ 2012 Jan 15;346:e7492. DOI: 10.1136/e7492.</a></small></p>
				</div>
				
				<div class="form-group">
					<label for="">Adopt Consistent Nutrition Education Policies for Federal Programs with Nutrition Education Components</label> 
					<select class="form-control intervention-control" id="nutrition-education-policies">
					  <option value="">Select Level</option>
					  <option value="high">High</option>
					  <option value="medium">Medium</option>
					  <option value="low">Low</option>
					</select>				
					<p>Potential actions include:  Removing the restrictions on the types of information that can be included in SNAP-Ed programs and encouraging advice about types of foods to reduce.</p>
					<p><small>Reference:  <a href="http://www.cdc.gov/nutrition/downloads/State-Indicator-Report-Fruits-Vegetables-2013.pdf">http://www.cdc.gov/nutrition/downloads/State-Indicator-Report-Fruits-Vegetables-2013.pdf</a></small></p>
				</div>
				
		
			
				<div class="form-group">
					<label for="">Ensure Consistent Nutrition Labeling for the Front of Packages, Retail Store Shelves, and Menus and Menu Boards That Encourages Healthier Food Choices</label> 
					<select class="form-control intervention-control" id="food-labeling">
					  <option value="">Select Level</option>
					  <option value="high">High</option>
					  <option value="medium">Medium</option>
					  <option value="low">Low</option>
					</select>				

					<p>Potential actions include:  Restaurants implementing the FDA regulations that require restaurants with 20 or more locations to provide calorie labeling on their menus and menu boards, and the FDA/USDA monitoring industry for compliance with this policy.</p>
					<p><small>Reference:  <a href="http://capsim.ccnmtl.columbia.edu/media/pdf/oby20550.pdf">Elbel, B., Mijanovich, T., Dixon, L. B., Abrams, C., Weitzman, B., Kersh, R., Auchincloss, A. H. and Ogedegbe, G. (2013), Calorie labeling, Fast food purchasing and restaurant visits. Obesity, 21: 2172–2179. doi: 10.1002/oby.20550.</a></small></p>
				</div>
				
				
				<div class="form-group">
					<label for="">Social Influence (Gamma 5)</label> 
					<select class="form-control intervention-control" id="food-social-influence">
					  <option value="">Select Level</option>
					  <option value="high">High</option>
					  <option value="medium">Medium</option>
					  <option value="low">Low</option>
					</select>				
				</div>
		</div>		
		
		
		<div class="row">
			<input type="submit" class="btn btn-success btn-lg btn-block" value="Run It" /> 
			<button type="button" class="btn btn-danger btn-lg btn-block" id="reset-all-button">Reset All Parameters</button> 
		</div>

	</form>


<h4>About these Variables</h4>

<p>
All these intervention levers are taken directly from the Committee on Accelerating Progress in Obesity Prevention recommendations, strategies and action steps. [IOM (Institute of Medicine).  2012.  Accelerating Progress in Obesity Prevention:  Solving the Weight of the Nation.  Washington, DC:  The National Academies Press.]
</p>

<p>
The simulation interface will consist of organized variables and input options that users have access to.  The input options are primarily checkboxes or buttons with "low/medium/high" or the equivalent. All variables are organized into three categories called •contexts•: •physical activity context•, •diet behavior context•, and •individual-level behavior context•. 
</p>

</div>


{% else %}

<h2>Oops!</h2>
<strong>This simulation is inactive.</strong>

<hr />

{% if request.user.is_staff %}
<div class="well">
<form action="/run/toggle/" method="post">
<input type="submit" class="btn btn-warning" value="Enable Simulation (Staff Only)" />
</form>
</div>
{% endif %}

{% endflag %}
{% endblock %}

{% block js %}
<script>
    $('.moreinfo').popover()
		$("#overbudget").hide();
    $('#progress-bar-well').affix();
</script>
<script>
var costs = {};
var modifiers = {};
{% for intervention in interventions %}
costs['{{intervention.slug}}'] = {'high': {{intervention.high_cost}}, 'medium': {{intervention.medium_cost}}, 'low': {{intervention.low_cost}}};

modifiers['{{intervention.slug}}'] = {'high': [], 'medium': [], 'low': []};
{% for il in intervention.interventionlevel_set.all %}
{% for m in il.modifier_set.all %}
modifiers['{{intervention.slug}}']['{{il.level}}'].push(
    {'param': '{{m.parameter}}',
     'adjustment': {{m.adjustment}}});{% endfor %}{% endfor %}

{% endfor %}

// kind of "default defaults"

var defaults = {
    'id_gamma_1': 1.0,
    'id_gamma_2': 1.0,
    'id_gamma_3': 1.0,
    'id_gamma_4': 1.0,
    'id_gamma_5': 1.0,
    'id_gamma_6': 1.0,

    'id_recreation_activity_alpha': 0.5,
    'id_education_activity_alpha': 0.5,
    'id_domestic_activity_alpha': 0.5,
    'id_transport_activity_alpha': 0.5,
    'id_food_convenience_alpha': 0.5,
    'id_energy_density_alpha': 0.5,
    'id_food_exposure_alpha': 0.5,
    'id_food_convenience_alpha': 0.5,
    'id_food_literacy_alpha': 0.5,
    'id_food_advertising_alpha': 0.5,

    'id_recreation_activity_lambda': 0.1,
    'id_education_activity_lambda': 0.1,
    'id_domestic_activity_lambda': 0.1,
    'id_transport_activity_lambda': 0.1,
    'id_food_convenience_lambda': 0.1,
    'id_energy_density_lambda': 0.1,
    'id_food_exposure_lambda': 0.1,
    'id_food_convenience_lambda': 0.1,
    'id_food_literacy_lambda': 0.1,
    'id_food_advertising_lambda': 0.1,

    'id_recreation_activity_weight': 1.0,
    'id_domestic_activity_weight': 1.0,
    'id_transport_activity_weight': 1.0,
    'id_education_activity_weight': 1.0,

    'id_energy_density_weight': 1.0,
    'id_food_advertising_weight': 1.0,
    'id_food_exposure_weight': 1.0,
    'id_food_convenience_weight': 1.0,
    'id_food_literacy_weight': 1.0
};

{% for parameter in parameters %}
defaults['id_{{parameter.slug}}'] = {{parameter.cast_value}};
{% endfor %}


</script>
<script src="{{STATIC_URL}}js/interventions.js"></script>
{% endblock %}
