{% extends 'base.html' %}
{% load waffle_tags %}

		{% block topnav %}
		<li class="active"><a href="/model/" title="Learn all about PHCX and the math behind it.">About PHCX</a></li>
		<li><a href="/pages/introduction/" title="Ramp up your understanding with this handy tutorial.">Priming Exercises</a></li>

{% flag simulation %}
		<li><a href="/run/new/" title="Create a new run.">Start New Run</a></li>
		<li><a href="/run/" title="See all the runs.">Saved Runs</a></li>
{% else %}
		<li><span class="navbar-text">[Simulation Deactivated]</span></li>
{% endflag %}

		{% endblock %}

{% block pagetitle %}
<h1>About PHCX</h1>
{% endblock %}

{% block content %}
		<h2>About This Site</h2>
		<p>What is this?</p>
		<h2>The PH Capstone Model</h2>

		<p>Description of the model for the PH Capstone project.</p>

		<h2>Core Agent Variables</h2>

		<ul>
			<li>mass</li>
			<li>input</li>
			<li>base-output</li>
			<li>total-output</li>
			<li>force-of-habit</li>
			<li>c-control (for conscious control of energy intake)</li>
			<li>physical-activity</li>
			<li>friend-input</li>
			<li>friend-output</li>
		</ul>

		<h2>Environment-Variables</h2>

		<p>All of these are (0-1), continuous variables</p>

		<ul>
			<li>food-exposure</li>
			<li>food-energy-density</li>
			<li>food-advertising</li>
			<li>food-convenience</li>
			<li>food-literacy</li>
			<li>recreation-activity</li>
			<li>domestic-activity</li>
			<li>transport-activity</li>
			<li>education-activity</li>
		</ul>


<h2>Agent Equations</h2>

<h3>Agent Mass</h3>

<div class="well">
\begin{equation}
\text{mass}_{t} = \text{mass}_{t-1} + f(\text{input} - \text{total-output}) * \gamma_1
\end{equation}
</div>

<p>and \(\gamma_1 = 1\). Where \(f(\text{input} - \text{total-input})\) is</p>

<div class="well">
\begin{equation}
\frac{1}{1 + e^{-(\text{input} - \text{total-output})}} - 0.50
\end{equation}
</div>

<p>and \(\gamma_1 = 1\).</p>


<h2>Agent Energy Intake</h2>

<div class="well">
\begin{equation}
\text{input} = \text{total-output} + \text{force-of-habit} * \gamma_2 +
\text{friend-input} * \gamma_3 - \text{c-control}* \gamma_4 + N(0, \sigma_1)
\end{equation}
</div>

<p>Where force-of-habit is</p>

<div class="well">
\begin{equation}
\frac{1}{1 + e^{-10(\sum_{1}^{4}\text{FoodEnviron} - 0.50)}}
\end{equation}
</div>

<p>c-control is</p>

<div class="well">
\begin{equation}
\frac{1}{1 + e^{-10(\sum_{5}^{5}\text{FoodEnviron} - 0.50)}}
\end{equation}
</div>

<p>friend-input is</p>

<div class="well">
\begin{equation}
\frac{1}{1 + e^{-10(x - 0.50)}} - 0.50
\end{equation}
</div>

<p>where x is % of social network ties with input &gt;= agent's own input. and \(\gamma_2 \ldots \gamma_4 = 1\).</p>

<h3>Agent Energy Expenditure</h3>

<div class="well">
\begin{equation}
\text{total-output} = \text{base-output} + \text{physical-activity}*\gamma_5 + \text{friend-output}*\gamma_6 + N(0, \sigma_2)
\end{equation}
</div>

<p>where  physical-activity is</p>

<div class="well">
\begin{equation}
\frac{1}{1 + e^{-10(\sum_{1}^{4}\text{PhysActivEnviron} - 0.50)}}
\end{equation}
</div>

<p>and friend-output is</p>

<div class="well">
\begin{equation}
\frac{1}{1 + e^{-10(x - 0.50)}} - 0.50
\end{equation}
</div>


<p>where x is % of social network ties with total-output &gt;= agent's own input and \(\gamma_5, \gamma_6 = 1\)</p>


<h2>Dynamics of Model</h2>

<h3>Initialization of the model</h3>

<p>Note: \(N(x,y)\) is normal distribution with mean x and sd y.</p>

<h4>AGENT LEVEL</h4>

<div class="well">
$$ \text{mass} = N(100, 20)$$
</div>
<div class="well">
$$ \text{base-output} = N(100, 5)$$
</div>

<h4>ENVIRONMENT LEVEL</h4>

<p>Note: \(\Gamma(\alpha, \lambda)\) is a Gamma distribution with
\(\alpha = \frac{\text{mean} \cdot \text{mean}}{\text{variance}}\)
\(\lambda = \frac{1}{\frac{\text{variance}}{\text{mean}}}\)</p>

<div class="well">

$$ \text{recreation-activity} = \Gamma(0.5, 0.10) $$
$$ \text{domestic-activity} = \Gamma(0.5, 0.10) $$
$$ \text{transport-activity} = \Gamma(0.5, 0.10) $$
$$ \text{education-activity} = \Gamma(0.5, 0.10) $$

</div>
<div class="well">

$$ \text{food-exposure} = \Gamma(0.5, 0.10) $$
$$ \text{food-energy-density} = \Gamma(0.5, 0.10) $$
$$ \text{food-advertising} = \Gamma(0.5, 0.10) $$
$$ \text{food-convenience} = \Gamma(0.5, 0.10) $$
$$ \text{food-literacy} = \Gamma(0.5, 0.10) $$

</div>

{% endblock %}

{% block js %}
<script type="text/javascript"
  src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

{% endblock %}
