{% extends 'base.html' %}
{% load waffle_tags %}

		{% block topnav %}
		<li class="active"><a href="/model/" title="Learn all about PHCX and the math behind it.">About</a></li>
		<li><a href="/contact/" title="Get in touch.">Contact</a></li>
		<li><a href="/topics/" title="These are all of the simulations available.">Topics</a></li>
		<!--
		<li><a href="/pages/introduction/" title="Ramp up your understanding with this handy tutorial.">Priming Exercises</a></li>
		{% flag simulation %}
		<li><a href="/run/new/" title="Create a new run.">Start New Run</a></li>
		<li><a href="/run/" title="See all the runs.">Saved Runs</a></li>
		{% else %}
		<li><span class="navbar-text">[Simulation Deactivated]</span></li>
		{% endflag %}
		-->
		{% endblock %}

{% block pagetitle %}
<h1>About PHCX</h1>
<strong>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu risus fermentum, blandit sapien a, vehicula ipsum. Phasellus semper condimentum nunc in sollicitudin. Etiam et nisi augue. Aenean ut sem et eros bibendum laoreet. Phasellus bibendum augue sit amet tortor egestas tristique. Proin vitae nunc ante. Ut tempus adipiscing purus in luctus. Praesent eu fringilla leo.
</strong>
<hr />
{% endblock %}

{% block content %}
		<h2>What is this?</h2>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac est facilisis, blandit risus at, accumsan mi. Ut eget gravida massa, sed convallis neque. Mauris turpis elit, congue eget venenatis a, sodales eget magna. Proin ornare congue laoreet. Cras enim ligula, tempus eget urna cursus, ultricies posuere magna. Praesent ante mi, congue vitae ultrices a, mattis vitae nunc. Maecenas id tellus sit amet orci fringilla dictum sit amet ac mauris. Proin sed eleifend ante, vitae sodales elit. Aliquam sit amet est aliquam, congue turpis a, porttitor ligula. Phasellus quis odio blandit, sollicitudin est a, consequat purus. Cras metus nisl, ullamcorper vitae ipsum a, sagittis porta odio. Etiam dapibus felis nulla, non malesuada arcu facilisis eget. Suspendisse lacus turpis, malesuada nec porta ac, convallis ultricies orci. Sed nulla orci, hendrerit eget elit id, gravida volutpat nunc. Proin vel neque auctor diam eleifend varius. Nulla facilisi.</p>
		
		<h2>What is the Capstone Model?</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac est facilisis, blandit risus at, accumsan mi. Ut eget gravida massa, sed convallis neque. Mauris turpis elit, congue eget venenatis a, sodales eget magna. Proin ornare congue laoreet. Cras enim ligula, tempus eget urna cursus, ultricies posuere magna. Praesent ante mi, congue vitae ultrices a, mattis vitae nunc. Maecenas id tellus sit amet orci fringilla dictum sit amet ac mauris. Proin sed eleifend ante, vitae sodales elit. Aliquam sit amet est aliquam, congue turpis a, porttitor ligula. Phasellus quis odio blandit, sollicitudin est a, consequat purus. Cras metus nisl, ullamcorper vitae ipsum a, sagittis porta odio. Etiam dapibus felis nulla, non malesuada arcu facilisis eget. Suspendisse lacus turpis, malesuada nec porta ac, convallis ultricies orci. Sed nulla orci, hendrerit eget elit id, gravida volutpat nunc. Proin vel neque auctor diam eleifend varius. Nulla facilisi.</p>

		<h2>What are the Core Agent Variables?</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac est facilisis, blandit risus at, accumsan mi. Ut eget gravida massa, sed convallis neque. Mauris turpis elit, congue eget venenatis a, sodales eget magna. Proin ornare congue laoreet. Cras enim ligula, tempus eget urna cursus, ultricies posuere magna. Praesent ante mi, congue vitae ultrices a, mattis vitae nunc. Maecenas id tellus sit amet orci fringilla dictum sit amet ac mauris. Proin sed eleifend ante, vitae sodales elit. Aliquam sit amet est aliquam, congue turpis a, porttitor ligula. Phasellus quis odio blandit, sollicitudin est a, consequat purus. Cras metus nisl, ullamcorper vitae ipsum a, sagittis porta odio. Etiam dapibus felis nulla, non malesuada arcu facilisis eget. Suspendisse lacus turpis, malesuada nec porta ac, convallis ultricies orci. Sed nulla orci, hendrerit eget elit id, gravida volutpat nunc. Proin vel neque auctor diam eleifend varius. Nulla facilisi.</p>


{% endblock %}
