Django==1.11.16 # pyup: <2.0
httplib2==0.11.3
Markdown==2.6.11
psycopg2==2.7.5
versiontools==1.9.1
statsd==3.3.0
pep8==1.7.1
mccabe==0.6.1
pyflakes==2.0.0
pycodestyle==2.3.1 # pyup: <2.4.0
configparser==3.5.0
enum34==1.1.6
flake8==3.5.0
pyparsing==2.2.2
singledispatch==3.4.0.3
backports-abc==0.5
tornado==4.5.3 # pyup: < 5.0
BeautifulSoup==3.2.1
cssselect==1.0.3
lxml==4.2.5
sure==1.4.11
traitlets==4.3.2
ipython_genutils==0.2.0
pexpect==4.6.0
pickleshare==0.7.5
simplegeneric==0.8.1
pyzmq==17.1.2
MarkupSafe==1.0

ipython==5.8.0 # pyup: <6.0.0

Jinja2==2.10

ipdb==0.11
extras==1.0.0
python-mimeparse==1.6.0
unittest2==1.1.0
fixtures==3.0.0
testtools==2.3.0
testscenarios==0.5.0
python-subunit==1.3.0
webencodings==0.5.1
rdflib==4.2.2
coverage==4.5.1
pyasn1==0.4.4
pycparser==2.19
cffi==1.11.5
asn1crypto==0.24.0
cryptography==2.3.1
pyOpenSSL==18.0.0
ndg-httpsclient==0.5.1
certifi==2018.8.24

chardet==3.0.4
idna==2.7
urllib3==1.23

requests==2.19.1
logilab-common==1.4.2
logilab-astng==0.24.3
editdistance==0.5.2
pylint==1.9.3 # pyup: <2.0.0
six==1.11.0

numpy==1.15.2
pytz==2018.5

python-dateutil==2.7.3
setuptools==40.4.3

networkx==2.2
ldap3==2.5.1
olefile==0.46
Pillow==5.3.0
mock==2.0.0
anyjson==0.3.3

vine==1.1.4
amqp==2.3.2

amqplib==1.0.2
kombu==3.0.37 # pyup: <4.0.0
librabbitmq==2.0.0
billiard==3.5.0.4
celery==3.1.26.post2 # pyup: <4.0.0
sqlparse==0.2.4
decorator==4.2.1
boto==2.49.0
contextlib2==0.5.5
argparse==1.4.0
wsgiref==0.1.2
rcssmin==1.0.6
rjsmin==1.0.12
cycler==0.10.0
ipaddress==1.0.21

django-bootstrap3==11.0.0
requirements/src/sorl-3.1.tar.gz
djangowind==1.2.1
django-appconf==1.0.2
django-compressor==2.2
django-statsd-mozilla==0.4.0
raven==6.9.0
django-bootstrap-form==3.4
django-debug-toolbar==1.10.1
django-waffle==0.14.0
django-jenkins==0.110.0
django-smoketest==1.1.0
django-extensions==2.1.3
typing==3.6.6 # needed for django-extensions
django-ga-context==0.1.0
django-stagingcontext==0.1.0
django-impersonate==1.3
django-treebeard==4.2.1
django-pagetree==1.4.1
django-pageblocks==1.2.0  # pyup: <2.0.0
django-quizblock==1.2.3
django-markwhat==1.6.1
django-celery==3.2.2
text-unidecode==1.2
Faker==0.9.1
factory_boy==2.11.1
gunicorn==19.8.1
django-infranil==1.1.0
django-storages==1.7.1
django-cacheds3storage==0.1.2
django-smtp-ssl==1.0

subprocess32==3.5.2

matplotlib==2.2.3 # pyup: <3.0.0
pandas==0.22.0 # pyup: <0.23.0

ccnmtlsettings==1.4.0

pbr==4.3.0
PyYAML>=3.10.0 # MIT
stevedore>=1.20.0 # Apache-2.0
bandit==1.5.1
