{% extends 'base.html' %}
{% load waffle_tags %}
{% load markup %}

		{% block topnav %}
		<li><a href="/about/" title="Learn all about PHCX and the math behind it.">About</a></li>
		<li><a href="/contact/" title="Get in touch.">Contact</a></li>
		<li><a href="/topics/" title="These are all of the simulations available.">Topics</a></li>
		{% endblock %}

{% block content %}

<!--start 4 part topic subnav-->
<ul class="nav nav-tabs nav-justified">
<li><a href="/topic-obesity/">Introduction</a></li>
<li><a href="/pages/introduction/" title="Ramp up your understanding with this handy tutorial.">Exercises</a></li>
<li class="active"><a href="/run/new/" title="Create a new run.">Simulation</a></li>
<li><a href="/proposal/">Proposal</a></li>
<li><a href="/topic-obesity-debrief/">Debrief</a></li>
</ul>
<!-- stop 4 part topic subnav -->



{% flag simulation %}

<h2>Compare Runs</h2>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Run</th>
			<th>Description</th>
			<th>Number of Agents</th>
			<th>Ticks</th>
			<th>Mean mass (stddev)</th>
			<th>Mean intake (stddev)</th>
			<th>Mean expenditure (stddev)</th>
		</tr>
	</thead>
	<tbody>
{% for run in runs %}
<tr>
	<td><a href="/run/{{run.run.id}}/">{{run.run.title|default:run.run.created}}</a></td>
	<td>{{run.run.description|markdown}}</td>
	<td>{{run.number_agents}}</td>
	<td>{{run.ticks}}</td>
	<td>{{run.mass_mean}} ({{run.mass_stddev}})</td>
	<td>{{run.intake_mean}} ({{run.intake_stddev}})</td>
	<td>{{run.expenditure_mean}} ({{run.expenditure_stddev}})</td>
</tr>
<tr>
	<td colspan="2">MASS</td>
	<td colspan="2">INTAKE</td>
	<td colspan="2">EXPENDITURE</td>
	<td colspan="1"></td>
</tr>
<tr>
	<td colspan="2">
		<div class="placeholder" id="graph-{{run.run.id}}-mass"/>
	</td>
	<td colspan="2">
		<div class="placeholder" id="graph-{{run.run.id}}-intake"/>
	</td>
	<td colspan="2">
		<div class="placeholder" id="graph-{{run.run.id}}-expenditure"/>
	</td>
	<td colspan="1"></td>
</tr>
{% endfor %}
</tbody>
</table>

{% else %}
<p>Simulation is not active yet</p>
{% endflag %}
{% endblock %}


{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/d3.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/graph.js"></script>

<script type="text/javascript">
var massRunData = [];

{% for run in runs %}
massRunData = [];
{% for d in run.mass_stats %}
massRunData.push({{d.mean}});
{% endfor %}

makeGraph("div#graph-{{run.run.id}}-mass", massRunData, 300, 100, "mass");
{% endfor %}

var intakeRunData = [];

{% for run in runs %}
intakeRunData = [];
{% for d in run.intake_stats %}
intakeRunData.push({{d.mean}});
{% endfor %}

makeGraph("div#graph-{{run.run.id}}-intake", intakeRunData, 300, 100, "intake");
{% endfor %}

var expenditureRunData = [];

{% for run in runs %}
expenditureRunData = [];
{% for d in run.expenditure_stats %}
expenditureRunData.push({{d.mean}});
{% endfor %}

makeGraph("div#graph-{{run.run.id}}-expenditure", expenditureRunData, 300, 100, "expenditure");
{% endfor %}
</script>

{% endblock %}
