{% extends 'base.html' %}

{% block content %}
<ul class="breadcrumb">
  <li><a href="/calibrate/">Calibration</a></li>
	<li><a href="/calibrate/intervention/">Interventions</a></li>
	<li class="active">{{object.name}}</li>
</ul>

<form action="." method="post">{% csrf_token %}

<h2>Intervention: {{object.name}}</h2>
<p>slug: <tt>{{object.slug}}</tt></p>

<h3>High</h3>

{% for m in object.high_modifiers %}
{% with level="high" n=forloop.counter0 adjustment=m.adjustment selected_param=m.parameter %}
{% include "sim/modifier_field.html" %}
{% endwith %}
{% endfor %}

{% with level="high" adjustment="0.0" selected_param="" %}
{% with n="new00" adjustment="0.0" %}
{% include "sim/modifier_field.html" %}
{% endwith %}

{% with n="new01" adjustment="0.0" %}
{% include "sim/modifier_field.html" %}
{% endwith %}

{% with n="new02" adjustment="0.0" %}
{% include "sim/modifier_field.html" %}
{% endwith %}

{% endwith %}


<h3>Medium</h3>

{% for m in object.medium_modifiers %}
{% with level="medium" n=forloop.counter0 adjustment=m.adjustment selected_param=m.parameter %}
{% include "sim/modifier_field.html" %}
{% endwith %}
{% endfor %}

{% with level="medium" adjustment="0.0" selected_param="" %}
{% with n="new00" adjustment="0.0" %}
{% include "sim/modifier_field.html" %}
{% endwith %}

{% with n="new01" adjustment="0.0" %}
{% include "sim/modifier_field.html" %}
{% endwith %}

{% with n="new02" adjustment="0.0" %}
{% include "sim/modifier_field.html" %}
{% endwith %}

{% endwith %}

<h3>Low</h3>

{% for m in object.low_modifiers %}
{% with level="low" n=forloop.counter0 adjustment=m.adjustment selected_param=m.parameter %}
{% include "sim/modifier_field.html" %}
{% endwith %}
{% endfor %}

{% with level="low" adjustment="0.0" selected_param="" %}
{% with n="new00" adjustment="0.0" %}
{% include "sim/modifier_field.html" %}
{% endwith %}

{% with n="new01" adjustment="0.0" %}
{% include "sim/modifier_field.html" %}
{% endwith %}

{% with n="new02" adjustment="0.0" %}
{% include "sim/modifier_field.html" %}
{% endwith %}

{% endwith %}


<input type="submit" value="save" class="btn btn-primary"/>
</form>

<hr />
<h4>Instructions</h4>
<p>Each intervention has three different levels, "high", "medium", and
	"low". Each of those has a cost, and a set of "modifiers". Each
	modifier adjusts one of the simulation parameters by some
	amount. The modifiers are cumulative, so if multiple interventions
	affect the same parameters and are both selected by the user, they
	will be added together.
</p>
<p>This form will show you the existing modifiers set for each
	level. It will always include three more empty rows for each as well
	so you can add modifiers. To remove one, just select "[remove this
	one]" or set the value to "0.0" and hit save.</p>
<p>Remember that you can put negative values in</p>


<p>for debugging, the js that will be generated corresponding to this intervention:</p>
<pre>
costs['{{object.slug}}'] = {'high': {{object.high_cost}}, 'medium': {{object.medium_cost}}, 'low': {{object.low_cost}}};

modifiers['{{object.slug}}'] = {'high': [], 'medium': [], 'low': []};
{% for il in object.interventionlevel_set.all %}
{% for m in il.modifier_set.all %}
modifiers['{{object.slug}}']['{{il.level}}'].push(
    {'param': '{{m.parameter}}',
     'adjustment': {{m.adjustment}}});{% endfor %}{% endfor %}
</pre>


{% endblock %}
