{% extends 'base.html' %}

{% block content %}
<ul class="breadcrumb">
  <li><a href="/calibrate/">Calibration</a></li>
	<li class="active">Interventions</li>
</ul>

<a class="pull-right btn btn-default btn-xs" href="add/"><span class="glyphicon
 glyphicon-plus"></span> Add Intervention</a>

<h2>Calibrate Interventions</h2>

<form action="set_costs/" method="post">

<div class="row">
	<div class="col-md-6">
		<b>Intervention</b>
	</div>

	<div class="col-md-2">
			<b>High</b>
	</div>
	<div class="col-md-2">
			<b>Medium</b>
	</div>
	<div class="col-md-2">
			<b>Low</b>
	</div>

{% for intervention in object_list %}
<div class="row">
		<div class="col-md-6">{{intervention.name}}</div>
		<div class="col-md-2"><div class="input-group">
				<span class="input-group-addon">$</span><input type="text" name="high_cost_{{intervention.id}}"
		value="{{intervention.high_cost}}" class="form-control input-sm"/></div></div>
		<div class="col-md-2"><div class="input-group">
				<span class="input-group-addon">$</span><input type="text" name="medium_cost_{{intervention.id}}"
		value="{{intervention.medium_cost}}" class="form-control input-sm"/></div></div>
		<div class="col-md-2"><div class="input-group">
				<span class="input-group-addon">$</span><input type="text" name="low_cost_{{intervention.id}}"
		value="{{intervention.low_cost}}" class="form-control input-sm"/></div></div>
</div>
{% endfor %}

<input type="submit" class="btn btn-primary pull-right" value="update costs" />
</form>

{% endblock %}
