{% extends 'base.html' %}
{% load waffle_tags %}

		{% block topnav %}
		<li><a href="/about/" title="Learn all about PHCX and the math behind it.">About</a></li>
		<li><a href="/contact/" title="">Contact</a></li>
		<li class="active"><a href="/topics/" title="">Topics</a></li>
		{% endblock %}

{% block pagetitle %}
<h1>Request For Proposals</h1>
{% endblock %}

{% block content %}

<!--start 4 part topic subnav-->
<ul class="nav nav-tabs nav-justified">
<li><a href="/topic-obesity/">Introduction</a></li>
<li><a href="/pages/introduction/" title="Ramp up your understanding with this handy tutorial.">Exercises</a></li>
<li><a href="/run/new/" title="Create a new run.">Simulation</a></li>
<li class="active"><a href="/proposal/">Proposal</a></li>
<li><a href="/topic-obesity-debrief/">Debrief</a></li>
</ul>
<!--stop 4 part topic subnav-->

<h2>Advancing New York State’s Prevention Agenda: A Program to Implement Community Health Improvement Plans</h2>

<div class="row">

	<div class="col-md-12">

<p><b>Full Application:</b> April 30, 2015, at 5 p.m.</p>

<h3>About the Foundation</h3>

<p>The New York State Health Foundation (NYSHealth) is a private
foundation dedicated to improving the health of all New Yorkers,
especially the most vulnerable. To achieve meaningful impact, the
Founda- tion makes grants, informs health care policy and practice,
and spreads effective programs that work to improve New York’s health
system. Most of the Foundation’s grantmaking is focused on three
priority areas: expanding health care coverage, improving diabetes
prevention, and advancing primary care.</p>

<p>This particular funding opportunity is related, more broadly, to
prevention activities that would ad- dress health inequities in New
York as outlined in the New York State Department of Health’s
(NYSDOH) <i>Preven&on Agenda 2013–17.</i></p>

<h3>I. Background</h3>

<p>According to the Centers for Medicare & Medicaid Services,
approximately 95% of the dollars spent on health expenses goes to
medical care, while just 5% goes to population health strategies. Yet
40% of deaths are caused by modifiable behavior patterns, while
shortfalls in medical care account for only about 10% of early
deaths. The opportunity is ripe to rebalance communities’ investment
in health and to focus on strategies to promote health and prevent
disease.</p>

<p>The <i>New York State Prevention Agenda 2013---2017: New York
State’s Health Improvement Plan</i> at <b>http://
www.health.ny.gov/prevention/prevention_agenda/2013-2017/</b> provides
a framework and roadmap to foster statewide implementation of
prevention activities. The agenda aims to align the work of
organizations from a wide variety of sectors—including, but not
limited to, the health care delivery system, academia, community-based
health and human services, businesses, employers, media, and
philanthropy—to improve the health and wellbeing of the communities
they serve.</p>

<p>By November 2013, all 58 local health departments in New York State
will have to submit a Community Health Improvement Plan (CHIP)
outlining their strategies to advance the State’s <i>Prevention Agenda
2013–17</i>. Through this request for proposals (RFP), NYSHealth is
providing funds to help local health departments implement their
improvement plans.</p>

<p>The Foundation will provide grant awards of up to $5,000,000 to 3
local health departments that submit the most innovative and feasible
CHIPs, engage a diverse group of partners from several of the sectors
mentioned above, and are able to secure matching grants to implement
their proposed plans. In-kind support is encouraged, but not required,
and will not count toward the matching funds required for this
initiative.</p>

<p>For more than five years, NYSHealth has invested in community-based
programs to prevent diabetes and obesity. NYSHealth seeks to leverage
the <i>Prevention Agenda 2013–17</i> to further promote investment in the
areas of disease prevention and population health, catalyze support
from the philanthropic community, and advance the work of
organizations throughout the State focused on improving community
health.</p>

<h3>II. The Program</h3>

<p>The purpose of this RFP is to provide grants of up to $5,000,000 to
3 local health departments that present innovative and feasible
projects in support of the Prevention Agenda 2013–17.</p>

<p>The CHIPs are extensive documents used in guiding the work of local
health departments and their partner hospitals. To apply for a grant,
local health departments must have developed and submitted their CHIPs
to NYSDOH.</p>

<p>For the purpose of this funding opportunity, proposed initiatives
may be part of broader set of coordinated activities included in the
CHIPs. However, NYSHealth funding must be used to support discrete and
sustainable prevention initiatives that can be implemented during an
18-month period. The proposed projects must <b>(1)</b> be evidence-based; <b>(2)</b>
address at least one of the five priority areas of the <i>Prevention
Agenda 2013–17</i>; and <b>(3)</b> have explicit measurable outcomes that are
agreed upon among key stakeholders in a county.</p>

<p>Competitive applications will:</p>

<p>1. Be immediate or time-sensitive opportunities for Foundation
funds to make a difference;</p>

<p>2. Be sustainable after one-time matched grant support from NYSHealth. It is important to explain the business plan for sustaining the project;</p>

<p>3. Articulate a clear set of measurable goals for the initiative and establish a feasible timeline for implementation;</p>

<p>4. Have an effective plan for evaluating the measurable impact of the project and the funding received. The RE-AIM framework at <b>http://www.re-aim.org/</b> may be used for evaluation purposes;</p>

<p>5. Demonstrate the commitment of partners from other sectors targeted by the <i>Prevention Agenda 2013–17</i>. Partners must agree upon a set of clearly articulated goals for the initiative; and</p>

<p>6. Have strong potential for replication elsewhere in New York State, in the form of lessons learned or by expanded collaboration with other local health departments.</p>

<p>Counties’ health rankings, available at <b>http://www.countyhealthrankings.org/app/new-york/2013/ rankings/outcomes/overall/by-rank</b>, and geographic location also will be considered to ensure a balanced, diverse set of grantees.</p>

<h3>III. Task</h3>

<p><b>Your group represents the</b> NY State Health Department, Bureau of Health Behavior & Prevention. Your group applied for and has just been awarded this 5 million award to allocate across intervention options. Please use the simulation as a decision support tool plus the literature to recommend a specific intervention and outline action steps. More specific guidelines are outlined below.</p>

<p><b>Application Summary</b></p>

<p>Enter the Start and End Dates and Project Title (120 <i>characters maximum with spaces</i>) fields.</p>

<p><b>Application Narrative</b></p>

<p>The following outlines the required sections and lengths for each.</p>

<p><b>Executive Summary</b> (2,000 <i>characters maximum with spaces</i>) Provide a brief summary of your proposal, including activities and collaborators involved.</p>

<p><b>Background</b> (7,000 <i>characters maximum with spaces</i>) Provide a brief summary of the Prevention Agenda 2013–17 priority areas that your CHIP targets and the rationale for selecting these priority areas.</p>

<p><b>Your Proposal</b> (10,500 <i>characters maximum with spaces</i>). Please describe in detail how you intend to use a grant from the New York State Health Foundation to support discrete, sustainable prevention initiatives that will be implemented as part of your county’s CHIP. In the description of your work, please make sure that you include the following information: 1) Outline the goals and objectives you seek to accomplish with this grant; 2) Summarize the key activities you will focus on implementing in the next 18 months; 3) Estimate the potential reach of your proposed initiative (e.g., how many people will be impacted by your work); 4) Explain how you will monitor your progress and measure your impact at the end of the grant; and 5) Describe how your county plans to sustain the work after the grant period ends.</p>

<p><b>Sustainability</b> (3,500 <i>characters maximum with spaces</i>) Please describe in detail how you intend to sustain the work beyond the support provided by this award. For policies or initiatives involving systems change, explain how you will monitor implementation of the policy or of system change. For program activities or service delivery, explain the business plan or strategies to absorb cost. It is inadequate to simply state that you will seek additional grants from other funders.</p>

<p><b>Collaboration Efforts</b> (3,500 <i>characters maximum with spaces</i>) Please tell us about the organizations that you will collaborate with to implement the CHIP and describe their role in implementing your proposed activities. The most competitive applications will include partners from the following sectors: health care delivery system; employers, businesses, and unions; media; academia; community-based health and human service agencies; State and local government and non-governmental public health organizations; other government agencies; elected officials and other policymakers; communities; and philanthropy. If you have not engaged partners from any of these sectors yet, please describe how you plan to do so.</p>

<p><b>Project Management</b> (3,500 <i>characters maximum with spaces</i>) Please describe in detail the team that will carry out the project, including the relevant experience of each member.</p>

Budget

<p>The maximum overhead allowed is 15%. Ensure that your budget fits an 8.5 X 11 sheet of paper and full number/dollar amounts are visible in their cells.</p>

<h3>Complete Proposals</h3>

<p>Email your complete proposals to <a href="mailto:publichealthcapstone@gmail.com" target="_blank">publichealthcapstone@gmail.com</a>.</p>

	</div>
</div>

{% endblock %}

