{% extends 'base.html' %}
{% load waffle_tags %}
		{% block topnav %}
		<li><a href="/model/" title="Learn all about PHCX and the math behind it.">About PHCX</a></li>
		<li><a href="/pages/introduction/" title="Ramp up your understanding with this handy tutorial.">Priming Exercises</a></li>
{% flag simulation %}
		<li><a href="/run/new/" title="Create a new run.">Start New Run</a></li>
		<li class="active"><a href="/run/" title="See all the runs.">Saved Runs</a></li>
{% else %}
		<li><span class="navbar-text">[Simulation Deactivated]</span></li>
{% endflag %}
		{% endblock %}

{% block content %}
{% flag simulation %}

<h2>Saved Run: {{run.created}}</h2>

<script type="text/javascript" src="{{STATIC_URL}}js/d3.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/graph.js"></script>

<p>Ran simulation with <b>{{number_agents}}</b> agents for <b>{{ticks}}</b> ticks.</p>
<p>Resulting agents mass mean: <b>{{mean}}</b>, stddev: <b>{{stddev}}</b></p>
<div class="placeholder"/>

<script type="text/javascript">
var runData = [];
var runStdDevs = [];
{% for d in stats %}
runData.push({{d.mean}});runStdDevs.push({{d.std}});
{% endfor %}

makeGraph("div.placeholder", runData, runStdDevs);
</script>

<p><a href="json/">Download Run data in JSON</a></p>

<h3>Parameters</h3>
<table class="table">
{% for param in run.view_params %}
<tr class="{% if not param.default %}set{% endif %}">
<td>{{param.name}}</td>
<td>{{param.value}}</td>
{% endfor %}
</table>
{% else %}
<p>Simulation is not active yet</p>
{% endflag %}
{% endblock %}
