{% extends 'base.html' %}
{% load waffle_tags %}
		{% block topnav %}
		<li><a href="/about/" title="Learn all about PHCX and the math behind it.">About</a></li>
		<li><a href="/contact/" title="Get in touch.">Contact</a></li>
		<li><a href="/topics/" title="These are all of the simulations available.">Topics</a></li>
		{% endblock %}

{% block content %}

<!--start 4 part topic subnav-->
<ul class="nav nav-tabs nav-justified">
<li><a href="/topic-obesity/">Introduction</a></li>
<li><a href="/pages/introduction/" title="Ramp up your understanding with this handy tutorial.">Exercises</a></li>
<li class="active"><a href="/run/new/" title="Create a new run.">Simulation</a></li>
<li><a href="/topic-obesity-debrief/">Debrief</a></li>
</ul>
<!--stop 4 part topic subnav-->

{% flag simulation %}

<h2>Saved Run: {{run.created}}</h2>

<p><a href="delete/">Delete this Run</a></p>


<script type="text/javascript" src="{{STATIC_URL}}js/d3.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/graph.js"></script>

<p>Ran simulation with <b>{{number_agents}}</b> agents for <b>{{ticks}}</b> ticks.</p>
<p>Resulting agents mass mean: <b>{{mass_mean}}</b>,
	stddev: <b>{{mass_stddev}}</b></p>

<div class="placeholder-mass"/>

<script type="text/javascript">
var massRunData = [];
var massRunStdDevs = [];
{% for d in mass_stats %}
massRunData.push({{d.mean}});massRunStdDevs.push({{d.std}});
{% endfor %}

makeGraph("div.placeholder-mass", massRunData, massRunStdDevs, 860, 200, 15);
</script>

<p>Resulting agents intake mean: <b>{{intake_mean}}</b>,
	stddev: <b>{{intake_stddev}}</b></p>

<div class="placeholder-intake"/>

<script type="text/javascript">
var intakeRunData = [];
var intakeRunStdDevs = [];
{% for d in intake_stats %}
intakeRunData.push({{d.mean}});intakeRunStdDevs.push({{d.std}});
{% endfor %}

makeGraph("div.placeholder-intake", intakeRunData, intakeRunStdDevs, 860, 200, 15);
</script>

<p>Resulting agents expenditure mean: <b>{{expenditure_mean}}</b>, stddev: <b>{{expenditure_stddev}}</b></p>

<div class="placeholder-expenditure"/>

<script type="text/javascript">
var expenditureRunData = [];
var expenditureRunStdDevs = [];
{% for d in expenditure_stats %}
expenditureRunData.push({{d.mean}});expenditureRunStdDevs.push({{d.std}});
{% endfor %}

makeGraph("div.placeholder-expenditure", expenditureRunData, expenditureRunStdDevs, 860, 200, 20);
</script>

<hr />

<form action="edit/" method="post">
<input type="text" name="title" placeholder="title for this run" value="{{run.title}}"/>
<textarea name="description" cols="50" rows="3">{{run.description}}</textarea>
<input type="submit" value="save" class="btn btn-primary" />
</form>

<hr />

<p><a href="json/">Download Run data in JSON</a></p>

<h3>Parameters</h3>
<table class="table">
{% for param in run.view_params %}
<tr class="{% if not param.default %}set{% endif %}">
<td>{{param.name}}</td>
<td>{{param.value}}</td>
{% endfor %}
</table>
{% else %}
<p>Simulation is not active yet</p>
{% endflag %}
{% endblock %}
