{% extends 'base.html' %}

{% block content %}

<h2>Saved Run: {{run.created}}</h2>

<script type="text/javascript" src="/site_media/js/d3.js"></script>
<script type="text/javascript" src="/site_media/js/graph.js"></script>

<p>Ran simulation with <b>{{number_agents}}</b> agents for <b>{{ticks}}</b> ticks.</p>
<p>Resulting agents mass mean: <b>{{mean}}</b>, stddev: <b>{{stddev}}</b></p>
<div class="placeholder"/>

<script type="text/javascript">
var runData = [];
var runStdDevs = [];
{% for d in stats %}
runData.push({{d.mean}});runStdDevs.push({{d.std}});
{% endfor %}

makeGraph("div.placeholder", runData, runStdDevs);
</script>

<h3>Parameters</h3>
<table class="table">
{% for param in run.view_params %}
<tr class="{% if not param.default %}set{% endif %}">
<td>{{param.name}}</td>
<td>{{param.value}}</td>
{% endfor %}
</table>

{% endblock %}
