{% extends 'base.html' %}
{% load waffle_tags %}

		{% block topnav %}
		<li><a href="/model/" title="Learn all about PHCX and the math behind it.">About</a></li>
		<li><a href="/contact/" title="Get in touch.">Contact</a></li>
		<li><a href="/topics/" title="These are all of the simulations available.">Topics</a></li>
		<!--
		<li><a href="/pages/introduction/" title="Ramp up your understanding with this handy tutorial.">Priming Exercises</a></li>
		{% flag simulation %}
		<li><a href="/run/new/" title="Create a new run.">Start New Run</a></li>
		<li class="active"><a href="/run/" title="See all the runs.">Saved Runs</a></li>
		{% else %}
		<li><span class="navbar-text">[Simulation Deactivated]</span></li>
		{% endflag %}
		-->
		{% endblock %}

{% block content %}

<!--start 4 part topic subnav-->
<ul class="nav nav-tabs nav-justified">
<li><a href="/topic-obesity/">Introduction</a></li>
<li><a href="/pages/introduction/" title="Ramp up your understanding with this handy tutorial.">Exercises</a></li>
<li class="active"><a href="/run/new/" title="Create a new run.">Simulation</a></li>
<li><a href="/topic-obesity-debrief/"">Debrief</a></li>
</ul>
<!-- stop 4 part topic subnav -->



{% flag simulation %}

{% if runs %}
<h2>Saved Runs</h2>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Run</th>
			<th>Created</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
{% for run in runs %}
<tr>
	<td><a href="{{run.id}}/">{{run.title|default:run.created}}</a></td>
	<td>{{run.created}}</td>
	<td><a href="{{run.id}}/delete/" class="btn btn-danger btn-xs">Delete</a></td>
</tr>
{% endfor %}
</tbody>
</table>

{% else %}
<p>No saved runs yet.</p>
{% endif %}
{% else %}
<p>Simulation is not active yet</p>
{% endflag %}
{% endblock %}

