{% extends 'base.html' %}

		{% block topnav %}
		<li><a href="/model/" title="Learn all about PHCX and the math behind it.">About PHCX</a></li>
		<li><a href="/pages/introduction/" title="Ramp up your understanding with this handy tutorial.">Priming Exercises</a></li>
		<li><a href="/run/new/" title="Create a new run.">Start New Run</a></li>
		<li class="active"><a href="/run/" title="See all the runs.">Saved Runs</a></li>
		{% endblock %}

{% block content %}

<h2>Saved Runs</h2>
<ul>
{% for run in runs %}
<li><a href="{{run.id}}/">{{run.created}}</a></li>
{% endfor %}
</ul>

{% endblock %}
