{% extends 'base.html' %}
{% load waffle_tags %}

		{% block topnav %}
		<li><a href="/about/" title="Learn all about PHCX and the math behind it.">About</a></li>
		<li><a href="/contact/" title="">Contact</a></li>
		<li class="active"><a href="/topics/" title="">Topics</a></li>
		{% endblock %}

{% block pagetitle %}
<h1>Obesity</h1>
{% endblock %}

{% block content %}

<!--start 4 part topic subnav-->
<ul class="nav nav-tabs nav-justified">
<li><a href="/topic-obesity/">Introduction</a></li>
<li><a href="/pages/introduction/" title="Ramp up your understanding with this handy tutorial.">Exercises</a></li>
<li><a href="/run/new/" title="Create a new run.">Simulation</a></li>
<li><a href="/proposal/">Proposal</a></li>
<li class="active"><a href="/topic-obesity-debrief/">Debrief</a></li>
</ul>
<!--stop 4 part topic subnav-->

<h2>Debrief</h2>

<div class="row">

	<div class="col-md-12">
	
		<h3>What are the Core Agent Variables?</h3>


		<ul>
			<li>mass: <b>Body Weight</b></li>
			<li>input</li>
			<li>base-output</li>
			<li>total-output</li>
			<li>force-of-habit: <b>Force of Dietary Habit</b></li>
			<li>c-control (for conscious control of energy
			intake): <b>Conscious Control of Accumulation</b></li>
			<li>physical-activity: <b>Physical Activity</b></li>
			<li>friend-input: <b>Dietary Social Influence</b></li>
			<li>friend-output: <b>Physical Activity Social Influence</b></li>
		</ul>

		<h2>Environment-Variables</h2>

		<p>All of these are (0-1), continuous variables</p>

<ul>
<li>food-exposure: <b>Food Exposure</b></li>
<li>food-energy-density: <b>Energy Density of Food Offerings</b></li>
<li>food-advertising: <b>Exposure to Food Advertising</b></li>
<li>food-convenience: <b>Convenience of Food Offerings</b></li>
<li>food-literacy : <b>Food Literacy</b></li>
<li>recreation-activity: <b>Level of Recreational Activity</b></li>
<li>domestic-activity: <b>Level of Domestic Activity</b></li>
<li>transport-activity: <b>Level of Transportation Activity</b></li>
<li>education-activity: <b>Degree of Physical Education</b></li>
</ul>

<h3>What are the Agent Equations?</h3>


<h4>Agent Mass</h4>

<div class="well">
\begin{equation}
\text{mass}_{t} = \text{mass}_{t-1} + f(\text{input} - \text{total-output}) * \gamma_1
\end{equation}
</div>

<p>and \(\gamma_1 = 1\). Where \(f(\text{input} - \text{total-input})\) is</p>

<div class="well">
\begin{equation}
\frac{1}{1 + e^{-(\text{input} - \text{total-output})}} - 0.50
\end{equation}
</div>

<p>and \(\gamma_1 = 1\).</p>


<h4>Agent Energy Intake</h4>



<div class="well">
\begin{equation}
\text{input} = \text{total-output} + \text{force-of-habit} * \gamma_2 +
\text{friend-input} * \gamma_3 - \text{c-control}* \gamma_4 + N(0, \sigma_1)
\end{equation}
</div>

<p>Where force-of-habit is</p>

<div class="well">
\begin{equation}
\frac{1}{1 + e^{-10(\sum_{1}^{4}\text{FoodEnviron}_{i} * \text{FEWeight}_{i} - 0.50)}}
\end{equation}
</div>

<p>c-control is</p>

<div class="well">
\begin{equation}
\frac{1}{1 + e^{-10(\sum_{5}^{5}\text{FoodEnviron} * \text{FEWeight}_{5} - 0.50)}}
\end{equation}
</div>

<p>friend-input is</p>

<div class="well">
\begin{equation}
\frac{1}{1 + e^{-10(x - 0.50)}} - 0.50
\end{equation}
</div>

<p>where x is % of social network ties with input &gt;= agent's own input. and \(\gamma_2 \ldots \gamma_4 = 1\).</p>

<p>\(\text{FEWeight}_{1}\) through \(\text{FEWeight}_{5}\) are weights
	on each food environment value (defaulting to 1).</p>

<h3>Agent Energy Expenditure</h3>

<div class="well">
\begin{equation}
\text{total-output} = \text{base-output} + \text{physical-activity}*\gamma_5 + \text{friend-output}*\gamma_6 + N(0, \sigma_2)
\end{equation}
</div>

<p>where  physical-activity is</p>

<div class="well">
\begin{equation}
\frac{1}{1 + e^{-10(\sum_{1}^{4}\text{PhysActivEnviron}_{i} * \text{PEWeight}_{i} - 0.50)}}
\end{equation}
</div>

<p>and friend-output is</p>

<div class="well">
\begin{equation}
\frac{1}{1 + e^{-10(x - 0.50)}} - 0.50
\end{equation}
</div>


<p>where x is % of social network ties with total-output &gt;= agent's own input and \(\gamma_5, \gamma_6 = 1\)</p>

<p>\(\text{PEWeight}_{1}\) through \(\text{PEWeight}_{4}\) are weights
	on each physical environment value (defaulting to 1).</p>

<h3>Dynamics of Model</h3>

<h4>Initialization of the model</h4>

<p>Note: \(N(x,y)\) is normal distribution with mean x and sd y.</p>

<h4>AGENT LEVEL</h4>

<div class="well">
$$ \text{mass} = N(100, 20)$$
</div>
<div class="well">
$$ \text{base-output} = N(100, 5)$$
</div>

<h4>ENVIRONMENT LEVEL</h4>

<p>Note: \(\Gamma(\alpha, \lambda)\) is a Gamma distribution with
\(\alpha = \frac{\text{mean} \cdot \text{mean}}{\text{variance}}\)
\(\lambda = \frac{1}{\frac{\text{variance}}{\text{mean}}}\)</p>

<div class="well">

$$ \text{recreation-activity} = \Gamma(0.5, 0.10) $$
$$ \text{domestic-activity} = \Gamma(0.5, 0.10) $$
$$ \text{transport-activity} = \Gamma(0.5, 0.10) $$
$$ \text{education-activity} = \Gamma(0.5, 0.10) $$

</div>
<div class="well">

$$ \text{food-exposure} = \Gamma(0.5, 0.10) $$
$$ \text{food-energy-density} = \Gamma(0.5, 0.10) $$
$$ \text{food-advertising} = \Gamma(0.5, 0.10) $$
$$ \text{food-convenience} = \Gamma(0.5, 0.10) $$
$$ \text{food-literacy} = \Gamma(0.5, 0.10) $$

</div>	
	
	</div>
	

</div>

{% endblock %}

{% block js %}
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

{% endblock %}
