{% extends 'base.html' %}
{% load waffle_tags %}

		{% block topnav %}
		<li><a href="/about/" title="Learn all about PHCX and the math behind it.">About</a></li>
		<li><a href="/contact/" title="">Contact</a></li>
		<li class="active"><a href="/topics/" title="">Topics</a></li>
		{% endblock %}

{% block pagetitle %}
<h1>Obesity</h1>
{% endblock %}

{% block content %}

<!--start 4 part topic subnav-->
<ul class="nav nav-tabs nav-justified">
<li class="active"><a href="/topic-obesity/">Introduction</a></li>
<li><a href="/pages/introduction/" title="Ramp up your understanding with this handy tutorial.">Exercises</a></li>
<li><a href="/run/new/" title="Create a new run.">Simulation</a></li>
<li><a href="/topic-obesity-debrief/">Debrief</a></li>
</ul>
<!--stop 4 part topic subnav-->

<h2>Introduction</h2>

<div class="row">

	<div class="col-md-8">
	
	
	<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc semper risus lorem, eget aliquam felis mollis eu. Nulla in convallis nunc, sit amet pretium nisi. Proin ac velit sit amet nibh pellentesque laoreet. In interdum justo dignissim eros interdum aliquet. Aliquam euismod feugiat felis rhoncus ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam pharetra sapien dictum augue ultrices porttitor. Donec semper hendrerit bibendum. Proin scelerisque viverra massa, sed tristique sapien. Vestibulum lorem mauris, facilisis sit amet porta pharetra, hendrerit sit amet augue. Vivamus hendrerit nulla ac lacinia lobortis. Sed id nulla faucibus, malesuada turpis et, adipiscing nisl. Maecenas rhoncus tristique convallis. Morbi auctor erat feugiat nulla facilisis, sed semper lacus congue. Nunc non leo ultrices, auctor augue eget, pulvinar leo.
	</p>
	
	<p>
	Etiam tincidunt purus vel est euismod ultrices. Suspendisse sed dui nec nibh elementum iaculis id eu ante. Donec scelerisque nisi quis lorem viverra molestie. Vivamus consectetur nibh ac vulputate fermentum. Nunc vel egestas augue. Ut nulla velit, porttitor sed luctus in, mollis eu lacus. Donec pellentesque sit amet nisi vel aliquam. Morbi dignissim lorem id sapien blandit vestibulum. Nunc faucibus semper est non rhoncus. Phasellus quis sem ultrices, fermentum nisl sit amet, semper enim. Quisque id semper eros.
	</p>
	

	</div>
	
	<div class="col-md-4">
	
	<div class="thumbnail">
	<img src="http://placehold.it/300x200">
	<div class="caption">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus feugiat nisl vitae placerat. Sed pharetra nulla in velit pharetra, volutpat aliquam mi condimentum. Nulla ullamcorper neque eget laoreet euismod.</p>
	</div>
	</div>

</div>

</div>

<ul class="pager">
 <li class="next"><a href="/pages/introduction/">Introductions →</a></li>
</ul>


{% endblock %}
