{% extends "base.html" %}
{% block title %}
   Please Login
{% endblock %}

{% block usernav %}{% endblock %}

{% block content %}
<div class="content">
    {% if form.errors %}
        <div class="alert alert-danger">
            <b>ERROR:</b> Invalid username or password. Please try again. Note that both username and password are case-sensitive.
        </div>
    {% endif %}

    <h1 class="text-center">Login</h1><br />

    <form class="text-center" method="get" action="/cas/login">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next|default:'/'}}" />
        <p class="h4">If you have a Columbia University Network ID (UNI)...</p>
        <input class="regbutton btn btn-default" type="submit" value="Columbia Log In" />
        <p class="smalltxt"><a href="http://cuit.columbia.edu/cuit/manage-my-uni" title="Learn more about UNI" target="_blank">What is a UNI?</a></p>
    </form>

    {% if debug %}
        <hr class="seperator" />
        <form id="login-local" name="login_local" method="post" action="." class="text-center">
            <p class="h4">All other users</p>
            {% csrf_token %}
            <div class="login-local-form" {% if not form.errors %}style="display: none"{% endif %}>
                <div class="fieldwrapper">
                    <label for="id_username">User Name:</label>
                    {{ form.username }}
                </div>

                <div class="fieldwrapper">
                    <label for="id_password">Password:</label>
                    {{ form.password }}
                </div>
            </div>
            <br />
            <input class="regbutton btn btn-default" type="button" value="Guest Log In" {% if form.errors %}style="display: none"{% endif %}
                onclick="jQuery('.login-local-form').show(); jQuery(this).hide(); return false;"/>
            <input class="regbutton login-local-form btn btn-default" type="submit" value="Log In" {% if not form.errors %}style="display: none;"{% endif %} />                        
            <input type="hidden" name="next" value="{{ next|urlencode }}" />
        </form>
    {% endif %}
</div>

{% endblock %}
{% block loginbox %}{% endblock %}
